#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-bottom: 0px;
  }
  
  #header #logo-container{
    display: flex;
    flex-direction: row;
    padding-top: 12px;
  }

  #header #mid{
    font-size: xx-large;
    padding-right: 10px;
  }
  
  #header #profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    margin-right: 15px;
  }

  #header #logo{
    width: 120px;
    height: auto;
    cursor: pointer;
    padding-right: 10px;
  }

  #header #trusted{
    width: 120px;
    height: auto;
  }